<template #rt let-r="result" let-t="term">
    <i *ngIf="r.gender == 'F'" class="fa fa-venus" aria-hidden="true"></i>
    <i *ngIf="r.gender == 'M'" class="fa fa-mars" aria-hidden="true"></i> {{ r.first}} {{r.last}} - {{r.country}}
</template>
<div class="form-group" [class.has-danger]="searchFailed">
    <input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="athlete search" (selectItem)="selectAthlete($event)" />
    <span *ngIf="searching">searching...</span>
    <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>
<div>
    <!--
    <div>
        <input class="form-control form-control-sm" type="text" [(ngModel)]="athleteSearchText" (ngModelChange)="onAthleteFilterChanged()" placeholder="Search">
    </div>
    -->
    <div style="width: 100%;">
        <ag-grid-angular #agGridResult style="width: 100%; height: 400px;" class="ag-bootstrap" [gridOptions]="resultGridOptions">
        </ag-grid-angular>
    </div>
</div>
