i.female {
    color:red;
}

i.male {
    color: blue;
}

span {
    font-weight: bold;
}

span.FINISH {
    color: green;
}

span.DQ {
    color: red;
}

span.DNS {
    color: darkgray;
}

span.DNF {
    color: orange;
}