<div class="modal-header">
    <h5 class="modal-title">Race Result</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <div class="form-group row">
            <div class="col-6">
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">First</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.first}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Last</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.last}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Gender</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.gender}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">BIB</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.bib}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Division</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.division}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Country</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.country}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">State</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.state}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">City</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.general.city}}</label>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Overall</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.summary.overall}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Swim</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.summary.swim}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">T1</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.transition?.t1}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Bike</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.summary.bike}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">T2</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.transition?.t2}}</label>
                </div>
                <div class="row">
                    <label for="example-text-input" class="col-5 col-form-label">Run</label>
                    <label for="example-text-input" class="col-7 col-form-label">{{record?.summary.run}}</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="record?.swim">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance</th>
                    <th>Pace</th>
                    <th>Race Time</th>
                    <th>Split Time</th>
                    <th>Overall Rank</th>
                    <th>Division Rank</th>
                    <th>Gender Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let split of record?.swim">
                    <td>{{split?.name}}</td>
                    <td>{{split?.distance}}</td>
                    <td>{{split?.pace}}</td>
                    <td>{{split?.race_time}}</td>
                    <td>{{split?.split_time}}</td>
                    <td>{{split?.overall_rank}}</td>
                    <td>{{split?.div_rank}}</td>
                    <td>{{split?.gender_rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="record?.bike">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance</th>
                    <th>Pace</th>
                    <th>Race Time</th>
                    <th>Split Time</th>
                    <th>Overall Rank</th>
                    <th>Division Rank</th>
                    <th>Gender Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let split of record?.bike">
                    <td>{{split?.name}}</td>
                    <td>{{split?.distance}}</td>
                    <td>{{split?.pace}}</td>
                    <td>{{split?.race_time}}</td>
                    <td>{{split?.split_time}}</td>
                    <td>{{split?.overall_rank}}</td>
                    <td>{{split?.div_rank}}</td>
                    <td>{{split?.gender_rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="record?.run">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance</th>
                    <th>Pace</th>
                    <th>Race Time</th>
                    <th>Split Time</th>
                    <th>Overall Rank</th>
                    <th>Division Rank</th>
                    <th>Gender Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let split of record?.run">
                    <td>{{split?.name}}</td>
                    <td>{{split?.distance}}</td>
                    <td>{{split?.pace}}</td>
                    <td>{{split?.race_time}}</td>
                    <td>{{split?.split_time}}</td>
                    <td>{{split?.overall_rank}}</td>
                    <td>{{split?.div_rank}}</td>
                    <td>{{split?.gender_rank}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--
    <p>{{record | json}}</p>
    -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-danger" (click)="activeModal.close('Close click')">Update</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
