<div class="row">
    <div class="col-4">
        <div>
            <input class="form-control form-control-sm" type="text" [(ngModel)]="raceSearchText" (ngModelChange)="onRaceFilterChanged()" placeholder="Search">
        </div>
        <div style="width: 100%;">
            <ag-grid-angular #agGridRace style="width: 100%; height: 400px;" class="ag-bootstrap" [gridOptions]="raceGridOptions">
            </ag-grid-angular>
        </div>
    </div>
    <div class="col-8">
        <div>
            <input class="form-control form-control-sm" type="text" [(ngModel)]="athleteSearchText" (ngModelChange)="onAthleteFilterChanged()" placeholder="Search">
        </div>
        <div style="width: 100%;">
            <ag-grid-angular #agGridResult style="width: 100%; height: 400px;" class="ag-bootstrap" [gridOptions]="resultGridOptions">
            </ag-grid-angular>
        </div>
    </div>
</div>
<template ngbModalContainer></template>